extends layout 

block content
    .card.bg-light-info.shadow-none.position-relative.overflow-hidden
        .card-body.px-4.py-3
            .row.align-items-center
                .col-9
                    h4.fw-semibold.mb-8 User Listing
                    nav(aria-label='breadcrumb')
                        ol.breadcrumb
                            li.breadcrumb-item
                                a.text-muted(href='index.html') Home
                            li.breadcrumb-item(aria-current='page') Users
                .col-3
                    .text-center.mb-n5
                        img.img-fluid.mb-n4(src='../../dist/images/breadcrumb/ChatBc.png' alt='')
    .card.w-100.position-relative.overflow-hidden
        .px-4.py-3.border-bottom
            .card-title.fw-semibold.mb-0.lh-sm User List
        .card-body.p-4
            .table-responsive.rounded-2.mb-4

                table.table
                    thead
                        tr
                            th Date Joined
                            th Name
                            th Email
                            th Phone
                            th Force 
                            th Rank
                            th status
                            th Action
                    tbody
                        each user in users 
                            - let row = user.status === 'inactive' ? 'active' : ''
                            tr(class=`${row}` id=`${user.id}`)
                                td= view.formatDate(user.createdAt)
                                td 
                                    a(href=`/admin/users/profile?user_id=${user.id}`) #{user.firstname} #{user.lastname} 
                                td= user.email
                                td= user.phone 
                                td= user.force
                                td= user.currentRank
                                td
                                    if (user.status == 'inactive') 
                                        span.badge.bg-light-warning.text-warning.rounded-pill
                                            span.round-8.bg-warning.rounded-circle.d-inline-block.me-1
                                            | #{user.status}
                                    else if (user.status == 'active' || user.status == 'verified') 
                                        span.badge.bg-light-success.text-success.rounded-pill
                                            span.round-8.bg-success.rounded-circle.d-inline-block.me-1  
                                            | #{user.status}
                                    else 
                                        span.badge.bg-light-danger.text-danger.rounded-pill
                                            span.round-8.bg-danger.rounded-circle.d-inline-block.me-1  
                                            | #{user.status}
                                td  
                                    a.btn.btn-sm.btn-info(href=`/admin/users/profile?user_id=${user.id}`) View



block scriptBlock 
    script.
        $(document).ready(function() {
            $(".delete").click(function(e) {
                e.preventDefault();

                if (confirm("Are you sure you want to delete this user?")) {
                    const id = $(this).parents('tr').attr('id');
                    $.post('/update-user', { id, deleted: true }, function(d) {
                        if (d.status === true) {
                            location.reload();
                        }
                    });
                }
            });

            $(".ban").click(function(e) {
                e.preventDefault();

                if (confirm("Are you sure you want to ban this user?")) {
                    const id = $(this).parents('tr').attr('id');
                    $.post('/update-user', { id, status: 'banned' }, function(d) {
                        if (d.status === true) {
                            location.reload();
                        }
                    });
                }
            });
        }); 
