extends layout

block styleBlock 
    style.
        .over-lay { background-color: rgba(0, 0, 0, 0.6) !important; }

block content 
    section.hero-section.set-bg(data-setbg='/img/bg1.jpg')
        .over-lay
            .container.hero-text.text-white
                h2 Invest for the Future
                p Easy, reliable and secure real estate investments
                br
                
                a.site-btn(href='#') START INVESTING
    
            .filter-search
                .container
                    form.filter-form
                        input(type='text' placeholder='Enter a street name, address number or keyword')
                        select
                            option(value='City') City
                        select
                            option(value='City') State
                        button.site-btn.fs-submit SEARCH

    section.properties-section.spad
        .container
            .section-title.text-center
                h3 RECENT PROPERTIES
                p Discover great properties in top cities
            .row
                each property in properties
                    .col-md-6
                        .propertie-item.set-bg(data-setbg=`${property.PropertyPhotos[0].location}`)
                            //- .sale-notic FOR SALE
                            .propertie-info.text-white
                                .info-warp
                                    h5 
                                        a(href=`/property/${property.id}/${property.title.split(' ').join('-')}`)=property.title
                                    p
                                        i.fa.fa-map-marker
                                        |  #{property.state}, #{property.city}
                                .price N#{view.formatCurrency(property.cost)}
            
    section.services-section.spad.set-bg(data-setbg='/img/service-bg.jpg')
        .container
            .row
                .col-lg-6
                    img(src='/img/service.jpg' alt='')
                .col-lg-5.offset-lg-1.pl-lg-0
                    .section-title.text-white
                        h3 why qandos
                        
                    .services
                        .service-item
                            i.fa.fa-briefcase
                            .service-text
                                h5 Secure Investments
                                p
                                    | Every investment fund is paid into a secure escrow account and will ONLY be released to the seller after all due diligence, verification and documentation is fully completed.

                        .service-item
                            i.fa.fa-home
                            .service-text
                                h5 Vetted Properties
                                p
                                    | We ensure that only safe and legitimate properties are listed through our network of real estate development partners.

                        .service-item
                            i.fa.fa-comments
                            .service-text
                                h5 Tailored Services for Diaspora
                                p
                                    | We provide specialized services for the Diaspora Community

    section.feature-section.spad
        .container
            .section-title.text-center
                h3 Featured Listings
                p Browse houses and flats for sale and to rent in your area
            .row
                each property in properties
                    .col-lg-4.col-md-6
                        .feature-item
                            .feature-pic.set-bg(data-setbg=`${property.PropertyPhotos[0].location}`)
                                //- .sale-notic FOR SALE
                            .feature-text
                                .text-center.feature-title
                                    h5 
                                        a(href=`/property/${property.id}/${property.title.split(' ').join('-')}`)=property.title
                                    p
                                        i.fa.fa-map-marker
                                        |  #{property.state}, #{property.city}
                                .room-info-warp
                                    .room-info
                                        .rf-left
                                            p
                                                i.fa.fa-th-large
                                                |  800 Square foot
                                            p
                                                i.fa.fa-bed
                                                |  #{property.bedroom} Bedrooms
                                        .rf-right
                                            p
                                                i.fa.fa-car
                                                |  2 Garages
                                            p
                                                i.fa.fa-bath
                                                |  #{property.bathrooms} Bathrooms
                                    .room-info
                                        .rf-left
                                            p
                                                i.fa.fa-user
                                                |  Qandos
                                        .rf-right
                                            p
                                                i.fa.fa-clock-o
                                                |  #{view.formatDateSince(property.createdAt)} ago
                                a.room-price(href=`/property/${property.id}/${property.title.split(' ').join('-')}`) N#{view.formatCurrency(property.cost)}
                
    section.feature-category-section.spad
        .container
            .section-title.text-center
                h3 LOOKING PROPERTY
                p What kind of property are you looking for? We will help you
            .row
                .col-lg-3.col-md-6.f-cata
                    img(src='/img/1.jpg' alt='')
                    h5 Apartment for rent
                .col-lg-3.col-md-6.f-cata
                    img(src='/img/2.jpg' alt='')
                    h5 Family Home
                .col-lg-3.col-md-6.f-cata
                    img(src='/img/3.jpg' alt='')
                    h5 Commercial Space
                .col-lg-3.col-md-6.f-cata
                    img(src='/img/4b.jpg' alt='')
                    h5 Land
    section.gallery-section.spad
        .container
            .section-title.text-center
                h3 Popular Places
                p We understand the value and importance of place
            .gallery
                .grid-sizer
                a.gallery-item.grid-long.set-bg(href='#' data-setbg='/img/gallery/1.jpg')
                    .gi-info
                        h3 FCT, Abuja
                        p 18 Properties
                a.gallery-item.grid-wide.set-bg(href='#' data-setbg='/img/gallery/2.jpg')
                    .gi-info
                        h3 Lagos
                        p 112 Properties
                a.gallery-item.set-bg(href='#' data-setbg='/img/gallery/3.jpg')
                    .gi-info
                        h3 Enugu
                        p 72 Properties
                a.gallery-item.set-bg(href='#' data-setbg='/img/gallery/4.jpg')
                    .gi-info
                        h3 Asaba
                        p 50 Properties

    //- section.review-section.set-bg(data-setbg='/img/review-bg.jpg').mb-5
    //-     .container
    //-         .review-slider.owl-carousel
    //-             .review-item.text-white
    //-                 .rating
    //-                     i.fa.fa-star
    //-                     i.fa.fa-star
    //-                     i.fa.fa-star
    //-                     i.fa.fa-star
    //-                     i.fa.fa-star
    //-                 p
    //-                 | &ldquo;Leramiz was quick to understand my needs and steer me in the right direction. Their
    //-                 | professionalism and
    //-                 | warmth made the process of finding a suitable home a lot less stressful than it could have been.
    //-                 | Thanks,
    //-                 | agent Tony Holland.&rdquo;
    //-                 h5 Stacy Mc Neeley
    //-                 span CEP&rsquo;s Director
    //-                 .clint-pic.set-bg(data-setbg='/img/review/1.jpg')
            