extends layout

block styleBlock 
    style.
        .over-lay { background-color: rgba(0, 0, 0, 0.5) !important; height: 100vh }

block content 
    section.hero-section.set-bg(data-setbg='/img/rei.jpg')
        .over-lay
            .container.hero-text.text-white
                h2 Invest for the Future
                p Safe and easy real estate investment
                br

                a.site-btn(href='/property/browse') START INVESTING

            .filter-search
                .container
                    form.filter-form(action='/property/browse' method='GET')
                        input(type='text' name='keywords' placeholder='Search for property type (e.g 3 bedroom terrace duplex)')
                        select#state(name="state")
                            option(value='') -- State --
                                each state in states 
                                    option(value=`${state.name}`)= state.name
                        select#city(name="city")
                            option(value='') -- City --
                        button.site-btn.fs-submit SEARCH

    section.properties-section.spad
        .container
            .section-title.text-center
                h3 FEATURED PROPERTIES
                p Discover great properties in top cities
            .row
                each property in featured
                    .col-md-6
                        .propertie-item.set-bg(data-setbg=`${property.PropertyMedia[0] &&   property.PropertyMedia[0].location}`)
                            //- .sale-notic FOR SALE
                            .propertie-info.text-white
                                .info-warp
                                    h5 
                                        a(href=`/property/${property.id}/${property.title.split(' ').join('-')}`)=property.title
                                    p
                                        i.fa.fa-map-marker
                                        |  #{property.state}, #{property.city}
                                .price N#{view.formatCurrency(property.cost)}

    section.services-section.spad.set-bg(data-setbg='/img/service-bg.jpg')
        .container
            .row
                .col-lg-6
                    img(src='/img/service.jpg' alt='')
                .col-lg-5.offset-lg-1.pl-lg-0
                    .section-title.text-white
                        h3 why qandos

                    .services.mb-5
                        .service-item
                            i.fa.fa-briefcase
                            .service-text
                                h5 Secure Investments
                                p
                                    | Every investment fund is paid into a secure escrow account and will ONLY be released to the seller after all due diligence, verification and documentation is fully completed.

                        .service-item
                            i.fa.fa-home
                            .service-text
                                h5 Vetted Properties
                                p
                                    | We ensure that only safe and legitimate properties are listed through our network of real estate development partners.

                        .service-item.mb-5
                            i.fa.fa-comments
                            .service-text
                                h5 Tailored Services for Diaspora
                                p
                                    | We provide specialized services for the Diaspora Community

                    a.site-btn.float-right.mt-4(href='/property/browse') START INVESTING

    section.feature-section.spad
        .container
            .section-title.text-center
                h3 Recent Listings
                p Browse houses and flats for sale in your choice locations
            .row
                each property in properties
                    .col-lg-4.col-md-6
                        .feature-item
                            .feature-pic.set-bg(data-setbg=`${property.PropertyMedia[0] && property.PropertyMedia[0].location}`)
                                //- .sale-notic FOR SALE
                            .feature-text
                                .text-center.feature-title
                                    h5 
                                        a(href=`/property/${property.id}/${property.title.split(' ').join('-')}`)=property.title
                                    p
                                        i.fa.fa-map-marker
                                        |  #{property.state}, #{property.city}
                                .room-info-warp
                                    .room-info
                                        .rf-left
                                            p
                                                i.fa.fa-th-large
                                                |  #{property.plot_size} Square foot
                                            p
                                                i.fa.fa-bed
                                                |  #{property.bedrooms} Bedrooms
                                        .rf-right
                                            p
                                                i.fa.fa-car
                                                |  #{property.garage} Garages
                                            p
                                                i.fa.fa-bath
                                                |  #{property.toilets} Toilets
                                    .room-info
                                        .rf-left
                                            p
                                                i.fa.fa-user
                                                |  Qandos
                                        .rf-right
                                            p
                                                i.fa.fa-clock-o
                                                |  #{view.formatDateSince(property.createdAt)} ago
                                a.room-price(href=`/property/${property.id}/${property.title.split(' ').join('-')}`) N#{view.formatCurrency(property.cost)}

    section.feature-category-section.spad
        .container
            .section-title.text-center
                h3 How QANDOS Works

    section.review-section.set-bg(data-setbg='img/review-bg.jpg')
        .container
            .review-slider.owl-carousel
                .review-item.text-white
                    .rating
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    i.fa.fa-star
                    p
                    | &ldquo;Qandos was quick to understand my needs and steer me in the right direction. Their professionalism and warmth made the process of finding a suitable home a lot less stressful than it could have been. Thanks, agent Tony Akparanta.&rdquo;
                    h5 Esther O.
                    span CEP&rsquo;s Director
                    .clint-pic.set-bg(data-setbg='img/review/1.jpg')


    section.gallery-section.spad
        .container
            .section-title.text-center
                h3 Popular Places
            .gallery
                .grid-sizer
                a.gallery-item.grid-long.set-bg(href='/property/browse?state=abuja' data-setbg='/img/gallery/Abuja.jpg')
                    .gi-info
                        h3 FCT, Abuja
                        p 3 Properties
                a.gallery-item.grid-wide.set-bg(href='/property/browse?state=lagos' data-setbg='/img/gallery/Lagos.jpg')
                    .gi-info
                        h3 Lagos
                        p 0 Properties
                a.gallery-item.set-bg(href='/property/browse?state=enugu' data-setbg='/img/gallery/Enugu.jpg')
                    .gi-info
                        h3 Enugu
                        p 0 Properties
                a.gallery-item.set-bg(href='/property/browse?state=asaba' data-setbg='/img/gallery/Asaba.jpg')
                    .gi-info
                        h3 Asaba
                        p 0 Properties

block scriptBlock
    script. 

        let state;
        document.getElementById('state').addEventListener('change', async function() {
            state = this.value;
            const resp = await fetch('/cities?state=' + state);
            const cities = await resp.json();
            let opts = "<option value=''>-- City --</option>";
            opts += cities.data.cities.map(city => `<option value=${city.name}>${city.name}</option>`);
            document.getElementById('city').innerHTML = opts;
        });