
extends layout 

block content
    section.page-top-section.set-bg(data-setbg='/img/page-top-bg.jpg')
        .container.text-white
            h2 SINGLE LISTING

    .site-breadcrumb
        .container
            a(href='')
                i.fa.fa-home
                | Home
            span
                i.fa.fa-angle-right
                | Single Listing

    section.page-section
        .container
            .row
                .col-lg-8.single-list-page
                    #sl-slider.single-list-slider.owl-carousel
                        each photo in property.photos
                            if photo.mediaType == 'photo'
                                .sl-item.set-bg(data-setbg=`/${photo.location}`)
                            
                    
                    #sl-slider-thumb.owl-carousel.sl-thumb-slider
                        each photo in property.photos
                            if photo.mediaType == 'photo'
                                .sl-thumb.set-bg(data-setbg=`/${photo.location}`)
                    
                    .single-list-content
                        .row
                            .col-xl-8.sl-title
                                h2 #{property.title}
                                p
                                    i.fa.fa-map-marker
                                    | #{property.state}, #{property.city}
                            .col-xl-4
                                a.price-btn(href='#') N#{view.formatCurrency(property.cost)}
                        h3.sl-sp-title Property Details
                        .row.property-details-list
                            .col-md-4.col-sm-6
                                p
                                    i.fa.fa-th-large
                                    |  #{property.plot_size} Square foot
                                p
                                    i.fa.fa-bed
                                    |  #{property.bedrooms} Bedrooms
                                p
                                    i.fa.fa-user
                                    |  Qandos
                            .col-md-4.col-sm-6
                                p
                                    i.fa.fa-car
                                    |  2 Garages
                                p
                                    i.fa.fa-building-o
                                    |  #{view.capitalizeFirstLetter(property.category)}
                                p
                                    i.fa.fa-clock-o
                                    |  #{view.formatDateSince(property.createdAt)} ago
                            .col-md-4
                                p
                                    i.fa.fa-bath
                                    |  #{property.toilets} Toilets
                                p
                                    i.fa.fa-trophy
                                    |  #{property.age} years age
                        h3.sl-sp-title Description
                        .description
                            p
                            | #{property.description}

                        
                        //- h3.sl-sp-title.bd-no Floorplans
                        //- #accordion.plan-accordion
                        //-     .panel
                        //-         #headingOne.panel-header
                        //-             button.panel-link.active(data-toggle='collapse' data-target='#collapse1' aria-expanded='false' aria-controls='collapse1')
                        //-                 | First Floor: 
                        //-             span 660 sq ft
                        //-                 i.fa.fa-angle-down
                        //-         #collapse1.collapse.show(aria-labelledby='headingOne' data-parent='#accordion')
                        //-             .panel-body
                        //-                 img(src='img/plan-sketch.jpg' alt='')
                        //-     .panel
                        //-     #headingTwo.panel-header
                        //-         button.panel-link(data-toggle='collapse' data-target='#collapse2' aria-expanded='true' aria-controls='collapse2')
                        //-         | Second Floor:
                        //-         span 610 sq ft.
                        //-         i.fa.fa-angle-down
                        //-     #collapse2.collapse(aria-labelledby='headingTwo' data-parent='#accordion')
                        //-         .panel-body
                        //-         img(src='img/plan-sketch.jpg' alt='')
                        //-     .panel
                        //-     #headingThree.panel-header
                        //-         button.panel-link(data-toggle='collapse' data-target='#collapse3' aria-expanded='false' aria-controls='collapse3')
                        //-         | Third Floor :
                        //-         span 580 sq ft
                        //-         i.fa.fa-angle-down
                        //-     #collapse3.collapse(aria-labelledby='headingThree' data-parent='#accordion')
                        //-         .panel-body
                        //-         img(src='img/plan-sketch.jpg' alt='')

                        - const video = property.photos.find(media => media.mediaType == 'video');
                        if (video)
                            h3.sl-sp-title.bd-no Video
                            .perview-video
                                video(controls)
                                    source(src=`/${video.location}` type='video/mp4')
                        
                        h3.sl-sp-title.bd-no Location
                        #map-canvas.pos-map

                        if referralLink
                            .row.mt-4 
                                .col-md-10
                                    .input-group.mb-2
                                        input.form-control.form-control-lg#agentCode(value=`${referralLink}` readonly)
                                .col-md-2
                                    button.btn.btn-custom.btn-lg(onclick='copyToClipboard()') 
                                        i.ti.ti-clipboard-text 
                                        | Copy Link

                .col-lg-4.col-md-7.sidebar
                    //- .author-card
                        //- .author-img.set-bg(data-setbg='img/author.jpg')
                        //- .author-info
                        //-     h5 Gina Wesley
                        //-     p Real Estate Agent
                        //- .author-contact
                        //-     p
                        //-         i.fa.fa-phone
                        //-         | (567) 666 121 2233
                        //-     p
                        //-         i.fa.fa-envelope
                        //-         a.__cf_email__(href='/cdn-cgi/l/email-protection' data-cfemail='9cfbf5f2fdebf9eff0f9e5aeaadcfbf1fdf5f0b2fff3f1') [email&nbsp;protected]
                    .contact-form-card
                        h5 Interested in this property?

                        #wishListPane.d-none
                            .alert.alert-info This property has been added to your wishlist

                        if (user)
                            button.btn-custom.btn-block.btn-lg.mb-4#add-to-wishlist(data-propertyid=`${property.id}` data-referral_code=`${referral_code}`) 
                                i.fa.fa-heart-o 
                                | &nbsp;    Add to Wishlist
                        else 
                            button.btn-custom.btn-block.btn-lg.mb-4(data-bs-toggle='modal' data-bs-target='#form-login') 
                                i.fa.fa-heart-o 
                                | &nbsp;    Add to Wishlist
                        p.text-center OR 
                        h5 Book Appointment
                        #userPane.d-none
                            .alert.alert-info An appointment has been successfully booked for this property!
                            h6 DETAILS 
                            p Date: <span id='date'></span>
                            p Time: <span id='time'></span>

                        if (user)
                            form#form-appointment(method='post')
                                input(type='datetime-local' name='datetime' required)
                                input(type='hidden' name='PropertyId' value=`${property.id}`)
                                input(type='hidden' name='referral_code' value=`${referral_code}`)
                                button.btn-custom BOOK APPOINTMENT
                        else
                            form#form-signup(method='post')
                                input(type='text' name='fullname' placeholder='Your name' required)
                                input(type='email' name='email' placeholder='Your email' required)
                                input(type='tel' name='phone' placeholder='Your Phone')
                                input(type='datetime-local' name='datetime' required)
                                input(type='hidden' name='PropertyId' value=`${property.id}`)
                                input(type='hidden' name='referral_code' value=`${referral_code}`)

                                button.btn-custom BOOK APPOINTMENT
                    .related-properties
                        h2 Related Property
                        each property in relatedProperties
                            .rp-item
                                .rp-pic.set-bg(data-setbg=`/${property.PropertyMedia[0] && property.PropertyMedia[0].location}`)
                                    .sale-notic FOR SALE
                                .rp-info
                                    h5 #{property.title}
                                    p
                                        i.fa.fa-map-marker
                                        | #{property.state}, #{property.city}
                                a.rp-price(href=`/property/${property.id}/${property.title.split(' ').join('-')}`) N#{view.formatCurrency(property.cost)}
                        
block scriptBlock 
    script.

        const signupForm = document.getElementById("form-signup");
        const appointmentForm = document.getElementById("form-appointment");
        const addToWishlistBtn = document.getElementById("add-to-wishlist");
        let appointmentTime;

        signupForm && signupForm.addEventListener('submit', async function(e) {
            e.preventDefault();
            appointmentTime = document.querySelector('input[type="datetime-local"]').value;
            const data = new FormData(this);
            const formData = serialize(data);
            const res = await postForm("/signup", formData);
            if (res.status.trim() == 'success') {
                document.getElementById('form-signup').classList.add('d-none');
                document.getElementById('date').innerHTML = new Date(appointmentTime).toLocaleDateString('en-GB');
                document.getElementById('time').innerHTML = new Date(appointmentTime).toLocaleTimeString('en-GB');
                document.getElementById('userPane').classList.remove('d-none');
            } else {
                alert('Error')
            }
        });

        appointmentForm && appointmentForm.addEventListener('submit', async function(e) {
            e.preventDefault();
            appointmentTime = document.querySelector('input[type="datetime-local"]').value;
            const data = new FormData(this);
            const formData = serialize(data);
            const res = await postForm("/book-appointment", formData);
            if (res.status.trim() == 'success') {
                document.getElementById('form-appointment').classList.add('d-none');
                document.getElementById('date').innerHTML = new Date(appointmentTime).toLocaleDateString('en-GB');
                document.getElementById('time').innerHTML = new Date(appointmentTime).toLocaleTimeString('en-GB');
                document.getElementById('userPane').classList.remove('d-none');
            } else {
                alert('Error')
            }
        });

        addToWishlistBtn && addToWishlistBtn.addEventListener('click', async function() {
            const PropertyId = this.dataset.propertyid;
            const referral_code = this.dataset.referral_code;
            const res = await fetch('/add-to-wishlist', {
                method: 'POST',
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({ PropertyId, referral_code })
            });
            if (res.status.trim() == 'success') {
                document.getElementById('wishListPane').classList.remove('d-none');
            }
        });

        function copyToClipboard() {
            var copyText = document.getElementById("agentCode");

            // Select the text field
            copyText.select();
            copyText.setSelectionRange(0, 99999); // For mobile devices

            // Copy the text inside the text field
            navigator.clipboard.writeText(copyText.value);

            alert("Referral link copied to clipboard")
        }