extends auth-layout

block content   
    .row 
        .col-md-12 
            div(style='border: #ccc solid thin; border-radius: 10px').p-3.mb-4
                .row 
                    .col-md-6 
                        p #[strong Route:] #{trip.origin} - #{trip.destination}
                    .col-md-6
                        p #[strong Flight No:] #{trip.flight_no}
                    .col-md-6
                        p #[strong Travel Date:] #{view.formatDate(trip.travel_date)}: #{trip.departure_time}
                    .col-md-6
                        p #[strong Return Date:] #{view.formatDate(trip.return_date)}
                    .col-md-6
                        p #[strong Fare:] $ #{view.formatCurrency(fare + 1000)}
                        p #[strong Capacity:] #{trip.capacity}
                    .col-md-6
                        p #[strong Departure Terminal:] #{trip.dep_terminal}

        .col-md-12 
            #booking-div
                button.btn.btn-outline-danger.d-none New Reservation 
                button.btn.btn-danger.mx-4.d-none Manage Reservation

                form.form(action='/new-reservation' method='post').mt-4#form-booking
                    .mb-3 
                        label.form-label Your Name 
                        input.form-control(type='text' name='name' placeholder='Your Full name' Required)
                    .mb-3 
                        label.form-label Phone 
                        input.form-control(type='text' name='phone' placeholder='Yours Phone' Required)
                    .mb-3 
                        label.form-label Email 
                        input.form-control#email(type='email' name='email' placeholder='Your Email' Required)
                        input(type='hidden' name='tripId' value=`${trip.id}`)
                        input(type='hidden' name='agentId' value=`${agent.id}`)
                        input(type='hidden' name='booking_link' value='yes')
                        input(type='hidden' name='fare' value=`${fare}`)
                    .mb-3
                        button.btn.btn-dark.float-end(type='submit') Book Now 

            #details.d-none
                .alert.alert-info NOTE: The total fare is $#{view.formatCurrency(fare + 1000)}. But you'll pay $#{view.formatCurrency(fare)} now, and pay the remaining $1,000 while boarding
                p Your booking reference: &nbsp;<strong><span id='reserv-ref'></span></strong>
                p You will pay a total of: $#{view.formatCurrency(fare)} USD

                button.btn.btn-dark#paymentBtn(type='button') PAY: $#{view.formatCurrency(fare)} USD


block scriptBlock
    script(src="https://js.paystack.co/v1/inline.js")
    script. 

        let bookingRef;

        const bookingForm = document.getElementById('form-booking');
        const paymentBtn = document.getElementById('paymentBtn');

        bookingForm.addEventListener('submit', async function(e) {
            e.preventDefault();

            const data = new FormData(this);
            const formData = serialize(data);
            const res = await postForm("/new-reservation", formData);
            if (res.status) {
                const ref = res.data.reference;
                $("#booking-div").fadeOut();
                document.getElementById("reserv-ref").innerHTML = ref;
                $("#details").hide().removeClass('d-none').fadeIn();
                bookingRef = ref;
            }
        });


        paymentBtn.addEventListener('click', function() {
            const email = document.getElementById('email').value;
            payWithPaystack(bookingRef, email);
        });


        function payWithPaystack(ref, email) {
            const handler = PaystackPop.setup({
                key: !{JSON.stringify(publicKey)},
                email,
                amount: parseInt(!{JSON.stringify(fare)}, 10) * 100,
                ref,
                //- currency: 'USD',
                callback: function(response) {
                    const { reference, status } = response;

                    fetch("/complete-payment?reference=" + reference, {
                        method: 'GET',
                        headers: {
                            "Content-Type": "application/json",
                        }
                    }).then((d) => { 

                    });
                },
                onClose: function(){
                    alert('Payment cancelled');
                }
            });
            handler.openIframe();
        }

