extends layout 

block styleBlock 
    style. 
        .doc {
            position: relative;
            border: 1px solid #e8e8e8;
            border-radius: 5px;
            background: #f9f9f9
        }

        .doc .ti {
            position: absolute;
            right: 17px;
            top: 14px;
            font-size: 18px;
            cursor: pointer
        }

        .notie-container {
            font-size: 1.1rem;
        }

        .notie-alert {
            z-index: 1000 !important;
        }

        .notie-textbox {
            padding: 10px
        }

block content 

    .card.bg-light-info.shadow-none.position-relative.overflow-hidden
        .card-body.px-4.py-3
            .row.align-items-center
                .col-9
                    h4.fw-semibold.mb-8 Account Setting
                    nav(aria-label='breadcrumb')
                        ol.breadcrumb
                            li.breadcrumb-item
                                a.text-muted(href='index.html') Home
                            li.breadcrumb-item(aria-current='page') Account Setting
                .col-3
                    .text-center.mb-n5
                        img.img-fluid.mb-n4(src='../../dist/images/breadcrumb/ChatBc.png' alt='')
    .card
        ul#pills-tab.nav.nav-pills.user-profile-tab(role='tablist')
            li.nav-item(role='presentation')
                button#pills-account-tab.nav-link.position-relative.rounded-0.active.d-flex.align-items-center.justify-content-center.bg-transparent.fs-3.py-4(data-bs-toggle='pill' data-bs-target='#pills-account' type='button' role='tab' aria-controls='pills-account' aria-selected='true')
                    i.ti.ti-user-circle.me-2.fs-6
                    span.d-none.d-md-block Profile
            li.nav-item(role='presentation')
                button#pills-notifications-tab.nav-link.position-relative.rounded-0.d-flex.align-items-center.justify-content-center.bg-transparent.fs-3.py-4(data-bs-toggle='pill' data-bs-target='#pills-notifications' type='button' role='tab' aria-controls='pills-notifications' aria-selected='false')
                    i.ti.ti-archive.me-2.fs-6
                    span.d-none.d-md-block Documents
            li.nav-item(role='presentation')
                button#pills-bills-tab.nav-link.position-relative.rounded-0.d-flex.align-items-center.justify-content-center.bg-transparent.fs-3.py-4(data-bs-toggle='pill' data-bs-target='#pills-bills' type='button' role='tab' aria-controls='pills-bills' aria-selected='false')
                    i.ti.ti-user.me-2.fs-6
                    span.d-none.d-md-block Next of Kin
            //- li.nav-item(role='presentation')
            //-     button#pills-security-tab.nav-link.position-relative.rounded-0.d-flex.align-items-center.justify-content-center.bg-transparent.fs-3.py-4(data-bs-toggle='pill' data-bs-target='#pills-security' type='button' role='tab' aria-controls='pills-security' aria-selected='false')
            //-         i.ti.ti-lock.me-2.fs-6
            //-         span.d-none.d-md-block Security Pin
        .card-body
            #pills-tabContent.tab-content
                #pills-account.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-account-tab' tabindex='0')
                    .row
                        .col-12.mb-5
                            .card.w-100.position-relative.overflow-hidden.mb-0
                                .card-body.p-4
                                    h5.card-title.fw-semibold Personal Details
                                    p.card-subtitle.mb-4
                                        | To change your personal detail , edit and
                                        | save from
                                        | here
                                    form(method="post" action="/user/update").form-update
                                        .row.mb-4
                                            .col.md-4
                                                label.form-label.fw-semibold First Name
                                                input.form-control(type='text' name="firstname" value=`${user.firstname || ''}` placeholder='John' disabled)
                                            .col-md-4
                                                label.form-label.fw-semibold Last Name
                                                input.form-control(type='text' name="lastname" value=`${user.lastname || ''}` placeholder='Doe' disabled)
                                            .col-md-4
                                                label.form-label.fw-semibold Middle Name
                                                input.form-control(type='text' name="middlename" value=`${user.middlename || ''}` placeholder='Optional')

                                        .row.mb-4
                                            .col-md-6
                                                label.form-label.fw-semibold Email
                                                input.form-control(type='email' name="email" value=`${user.email || ''}`)
                                            .col-md-6
                                                label.form-label.fw-semibold Phone
                                                input.form-control(type='text' value=`${user.phone || ''}`)

                                        .row.mb-4
                                            .col-md-6 
                                                label.form-label.fw-semibold(for='exampleInputPassword1') Force
                                                input.form-control(type='text' name="force" value=`${user.force || ''}` placeholder='Army')
                                                //- select.form-select(aria-label='Default select example' name="force")
                                                //-     option(value="") - Force -
                                                //-     option(value="army") Army
                                            .col-md-6
                                                label.form-label.fw-semibold Current Rank
                                                input.form-control(type='text' name="currentRank" value=`${user.currentRank || ''}` placeholder='Captain')

                                        .row.mb-4
                                            .col-md-6 
                                                label.form-label.fw-semibold(for='exampleInputPassword1') Date of Joining Force
                                                input.form-control(type="date" name="date_joining_force" value=`${user.date_joining_force || null}`)
                                            .col-md-6
                                                label.form-label.fw-semibold National Identity Number (NIN)
                                                input.form-control(type='text' name="nin" value=`${user.nin || ''}` placeholder='NIN')

                                        .row.mb-4 
                                            .col-md-6
                                                label.form-label.fw-semibold(for='exampleInputPassword1') State
                                                select.form-select(aria-label='Default select example' name="state")
                                                    option(value="") - Select state -
                                                        each state in states 
                                                            option(value=`${state.state_name}`) #{state.state_name}
                                            .col-md-6
                                                label.form-label.fw-semibold(for='exampleInputPassword1') Address
                                                input#exampleInputtext.form-control(type='text' name="address" value=`${user.address || ''}`)

                                        .row.mb-4
                                            .col-md-6 
                                                label.form-label.fw-semibold Security Question
                                                input.form-control(type="text" name="securityQuestion" value=`${user.securityQuestion || ''}`)
                                            .col-md-6
                                                label.form-label.fw-semibold Security Answer
                                                input.form-control(type='text' name="securityAnswer")

                                        .col-12
                                            .d-flex.align-items-center.justify-content-end.mt-4.gap-3
                                                button.btn.btn-primary(type="submit") Save
                                                    button.btn.btn-light-danger.text-danger Cancel

                        .col-lg-6.d-flex.align-items-stretch
                            .card.w-100.position-relative.overflow-hidden
                                .card-body.p-4
                                    h5.card-title.fw-semibold Change Profile
                                    p.card-subtitle.mb-4 Use a photograph in uniform

                                    form(method='post' enctype="multipart/form-data" action='/user/upload-photo')#form-photo
                                        input.form-control.d-none#input-profile-upload(type='file' name='profile_photo')
                                    .text-center
                                        if (user.profilePhoto)
                                            .rounded-circle.px-5.py-3
                                                img.img-fluid.rounded-circle(src=`${user.profilePhoto}` style='width: 100%')

                                                .d-flex.align-items-center.justify-content-center.my-4.gap-3.pt-4
                                                    button.btn.btn-primary#btn-upload-photo(type='button') Change Photo
                                        else
                                            img.img-fluid.rounded-circle(src='/images/profile/user-6.jpg' alt='' width='120' height='120')
                                            .d-flex.align-items-center.justify-content-center.my-4.gap-3
                                                button.btn.btn-primary#btn-upload-photo(type='button') Upload Photo


                                            p.mb-0 Allowed JPG, GIF or PNG.
                #pills-notifications.tab-pane.fade(role='tabpanel' aria-labelledby='pills-notifications-tab' tabindex='0')
                    .row.justify-content-center
                        .col-lg-9
                            .card
                                .card-body.p-4
                                    h4.fw-semibold.mb-0 Official Documents
                                    .small.mb-3 Supported file types pdf, png, jpeg/jpg
                                    form(method="post" enctype="multipart/form-data" action='/user/documents').mb-7
                                        .row.mb-4
                                            .col-6
                                                if (documents.appointmentLetter)
                                                    .doc.py-6.px-4.mt-4
                                                        a(href=`${documents.appointmentLetter}` target='_blank') Appointment Letter 
                                                        i.ti.ti-trash#appointmentLetter
                                                else
                                                    label.form-label.fw-semibold(for='exampleInputPassword1') Appointment Letter
                                                    input#formFile.form-control(type='file' name='appointmentLetter')
                                            .col-6
                                                if (documents.forceId)
                                                    .doc.py-6.px-4.mt-4
                                                        a(href=`${documents.forceId}` target='_blank') Force ID
                                                        i.ti.ti-trash#forceId
                                                else
                                                    label.form-label.fw-semibold(for='') Force ID
                                                    input#formFile.form-control(type='file' name='forceId')
                                        .row.mb-4
                                            .col-6
                                                if (documents.birthCertificate)
                                                    .doc.py-6.px-4.mt-4
                                                        a(href=`${documents.birthCertificate}` target='_blank') Birth Certificate
                                                        i.ti.ti-trash#birthCertificate
                                                else
                                                    label.form-label.fw-semibold(for='') Birth Certificate
                                                    input#formFile.form-control(type='file' name='birthCertificate')
                                            .col-6
                                                if (documents.proofOfAddress)
                                                    .doc.py-6.px-4.mt-4
                                                        a(href=`${documents.proofOfAddress}` target='_blank') Proof of Address
                                                        i.ti.ti-trash#proofOfAddress
                                                else
                                                    label.form-label.fw-semibold(for='') Proof of Address
                                                    input#formFile.form-control(type='file' name='proofOfAddress')
                                        .col-12
                                            .d-flex.align-items-center.justify-content-end.gap-3
                                                button.btn.btn-primary(type='submit') Save
                #pills-bills.tab-pane.fade(role='tabpanel' aria-labelledby='pills-bills-tab' tabindex='0')
                    .row.justify-content-center
                        .col-lg-9
                            .card
                                .card-body.p-4
                                    h4.fw-semibold.mb-3 Beneficiary
                                    form(method="post" enctype="multipart/form-data" action="/user/beneficiaries")#form-beneficiary
                                        .row.mb-3
                                            .col
                                                label.form-label.fw-semibold Full name
                                                input.form-control(type='text' name='fullname' value=`${beneficiary.fullname || ''}` placeholder='Full name')

                                        .row.mb-3
                                            .col-md-6
                                                label.form-label.fw-semibold Email
                                                input.form-control(type='email' name="email" value=`${beneficiary.email || ''}` placeholder='Email')
                                            .col-md-6
                                                label.form-label.fw-semibold Phone
                                                input.form-control(type='text' name='phone' value=`${beneficiary.phone || ''}` placeholder='Phone')

                                        .row.mb-3
                                            .col-md-6
                                                label.form-label.fw-semibold Date of Birth
                                                input.form-control(type='date' name="dob" value=`${beneficiary.dob || ''}` placeholder='Date of birth')
                                            .col-md-6
                                                label.form-label.fw-semibold Relationship
                                                select.form-control(name="relationship")
                                                    if beneficiary.relationship 
                                                        option(value=`${beneficiary.relationship}`) #{beneficiary.relationship}
                                                    else 
                                                        option(value="") -- Relationship --
                                                    option(value="Spouse") Spouse
                                                    option(value="Brother") Brother
                                                    option(value="Sister") Sister
                                                    option(value="Mother") Mother
                                                    option(value="Father") Father
                                                    option(value="Son") Son
                                                    option(value="Daughter") Daughter

                                        .row.mb-3 
                                            .col
                                                label.form-label.fw-semibold Address
                                                input.form-control(type='text' name='address' value=`${beneficiary.address || ''}` placeholder='Address')

                                        .row.mb-4
                                            .col-md-6
                                                label.form-label.fw-semibold Bank
                                                input.form-control(type='' name="bank" value=`${beneficiary.bank || ''}` placeholder='')
                                            .col-md-6
                                                label.form-label.fw-semibold Account Number
                                                input.form-control(type='text' name='accountNumber' value=`${beneficiary.accountNumber || ''}` placeholder='Account Number')

                                        .row.mb-4
                                            //- .col-md-6 
                                            //-     if (beneficiary.govtID)
                                            //-         .doc.py-6.px-4.mt-4
                                            //-             a(href=`${beneficiary.govtID}` target='_blank') Government ID
                                            //-             i.ti.ti-trash#forceId
                                            //-     else
                                            //-         label.form-label.fw-semibold(for='') Government ID
                                            //-         input#formFile.form-control(type='file' name='govtID')
                                            .col-md-6
                                                label.form-label.fw-semibold National Identity Number (NIN)
                                                input.form-control(type='text' name="nin" value=`${beneficiary.nin || ''}` placeholder='NIN')

                                        .col-12
                                            .d-flex.align-items-center.justify-content-end.gap-3
                                                button(type="submit").btn.btn-primary Save
                //- #pills-security.tab-pane.fade(role='tabpanel' aria-labelledby='pills-security-tab' tabindex='0')
                //-     .row
                //-         .col-lg-8
                //-             .card
                //-                 .card-body.p-4
                //-                     h4.fw-semibold.mb-2 Security PIN
                //-                     p.mb-4 Create security Pin

                //-                     form(method="post" action="/user/setPin")#form-pin
                //-                         .row.mb-5
                //-                             .col
                //-                                 label.form-label.fw-semibold Enter Pin
                //-                                 input.form-control#pin(type='password' name="pin" placeholder='Pin' required)
                //-                             .col
                //-                                 label.form-label.fw-semibold Confirm Pin
                //-                                 input.form-control#confirm-pin(type='password' placeholder='Confirm Pin' required)

                //-                         .row 
                //-                             .col-12
                //-                                 .d-flex.align-items-center.justify-content-end.gap-3
                //-                                     button(type="submit").btn.btn-primary Save Pin
block scriptBlock 
    script.

        const updateForms = document.getElementsByClassName("form-update");
        const pinForm = document.getElementById("form-pin");
        const deleteDoc = document.getElementsByClassName("ti-trash");
        const btnUploadPhoto = document.getElementById("btn-upload-photo");

        for (let i = 0; i < updateForms.length; i++) {
            updateForms[i].addEventListener('submit', async function(e) {
                e.preventDefault();
                const data = new FormData(this);
                const formData = serialize(data);
                const res = await postForm("/user/update", formData);
                if (res.status.trim() == 'success') {
                    notify(1, 'Details saved successfully')
                } else {
                    notify(3, 'Operation could not be completed at the moment')
                }
            });
        }

        //- pinForm.addEventListener('submit', async function(e) {
        //-     e.preventDefault();
        //-     const pin = document.getElementById("pin").value;
        //-     const confirmPin = document.getElementById("confirm-pin").value;
        //-     if (pin != confirmPin) {
        //-         notify(3, 'Pin doesn\'t match!');
        //-         return;
        //-     }
        //-     const data = new FormData(this);
        //-     const formData = serialize(data);
        //-     const res = await postForm("/user/security-pin", formData);
        //-     if (res.status.trim() == 'success') {
        //-         notify(1, 'Pin saved successfully')
        //-     } else {
        //-         notify(3, 'Operation could not be completed at the moment')
        //-     }
        //- });

        for (let i = 0; i < deleteDoc.length; i++) {
            deleteDoc[i].addEventListener('click', async function(e) {
                if (confirm('Are you sure you want to delete this document?')) {
                    const fileName = this.getAttribute('id');
                    const res = await postForm("/user/delete-document", { documentName: fileName });
                    if (res.status.trim() == 'success') {
                        location.reload();
                    }
                }
            });
        }

        btnUploadPhoto.addEventListener('click', function() {
            document.getElementById("input-profile-upload").click();
        });

        document.getElementById("input-profile-upload").addEventListener('change', function() {
            document.getElementById("form-photo").submit();
        });


        function notify(type = 1, text = 'Success') {
            notie.alert({
                type, // optional, default = 4, enum: [1, 2, 3, 4, 5, 'success', 'warning', 'error', 'info', 'neutral']
                text,
                stay: false, // optional, default = false
                time: 5, // optional, default = 3, minimum = 1,
                position: 'bottom' // optional, default = 'top', enum: ['top', 'bottom']
            });
        }


